body {background-color:black;
      font-family:ariel;
      color:white;
    }

h1{color:grey
   font-family: verdana;
    }

.maindiv{
    background-color:white;
    color:black;
    padding:20px;
    width:300px;
    border-radius: 25px;
    align:center;
}

.highlightme { background-color:#FFFF00; }